SITE_BASE_URL=https://huongdong.id.vn
FIREBASE_PROJECT_ID=HUONG-DONG-PROJECT-ID
FIREBASE_API_KEY=YOUR_PUBLIC_WEB_API_KEY
FIREBASE_AUTH_DOMAIN=HUONG-DONG-PROJECT-ID.firebaseapp.com
FIREBASE_STORAGE_BUCKET=HUONG-DONG-PROJECT-ID.firebasestorage.app
GOOGLE_APPLICATION_CREDENTIALS=/duong-dan-tuyet-doi/service-account.json
USE_SEED_DATA=false
PORT=8080
