# Đường dẫn tới hai nguồn ngoài repo. Đặt trước khi chạy npm run data.
V21="/home/asus/Desktop/HuongDong project/Huong-Dong-Tarot-78-Art-Direction-Storytelling.docx"
AN_PHU="/home/asus/Desktop/HuongDong project/56anphu./content/an-phu-data.js"
CONTENT_56="/home/asus/Desktop/HuongDong project/56anphu./content"
